<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>      
</head>
<body>

    <header>
        <h1><a href="#">Home</a> </h1>
    </header>

    <section>
        <header>
            <h2>Produtos</h2>
        </header>
        <article>
            <h3> Heading 3</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae cupiditate sapiente dolorum, ad itaque nobis ullam dolor 
                explicabo est error tempora nisi inventore perferendis neque asperiores laborum suscipit, veritatis dolorem. </p>
        </article>
    </section>

    <h1>Recipes</h1>

    <p>Lorem <b> ipsum dolor sit amet</b>, <a href="#">consectetur </a> adipisicing elit.
        <i>Repellat </i> est optio illo quam cumque, id maiores. Fuga quasi inventore,
         harum error sit architecto esse officiis saepe molestiae fugiat iure provident.</p>
    
    <div style="width: 120px; height: 120px; background: red">
        <div style="width: 60px; height: 60px; background: yellow">
            Aqui
        </div>
    </div>
</body>
</html>